<div class="row">
  <% store.products.each do |product| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="">

      <div class="caption">
        <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
        <h4><%= link_to product.name, '#' %>
        </h4>
        <p><%= product.small_description %></p>
      </div>
      <div>
        <%= button_to 'Agregar al carrito', add_to_cart_public_store_path(product), class: 'btn btn-default' %>
      </div>
      <br />
      <div class="ratings">
        <p class="pull-right">XX reviews</p>
        <p>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </p>
      </div>
    </div>
  </div>

  <% end %>
</div>