.bundle
db/*.sqlite3
log/*.log
tmp/
*.esproj
*~
.idea
.DS_Store
config/test_server.yml
coverage/
.vagrant
*.log
results/
*.gz
features/screenshots/
screenshots/
public/assets/
config/databases/production.yml
config/encryption/production.yml
.fingerprint
*.swp
rspec.failures
bin/
*.zip
*.tgz
features/Test_Results/
doc/internal
.yardoc
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
*.rpm
*.deb
*.sublime-workspace
public/swagger/*
/uploads
