<div id="carrito_compras" style="display:none;width: 30%;min-widht: 300px;padding: 5%;height:400px;position:fixed;top:10;right:10;z-index: 4000;background-color: white;border: 1px solid black;">

</div>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Elija su Tienda</p>

      <div class="list-group">
        <% @stores.each do |s| %>
            <a href="#" class="list-group-item"><%= s.name %></a>
        <% end %>
      </div>
    </div>

    <div class="col-md-9" id="store_articles">
        <%= render 'products', store: @default_store %>
    </div>

  </div>

</div>