<div class="page-header">
  <%= link_to new_admin_product_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Product
  <% end %>
  <h1>Listing products</h1>
</div>
<div id="products_table">
<%= render 'list', products: @products %>
</div>